@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-image: url('/image/BG.jpg'); 
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

img {
    display: block;
    width: 120px;
    height: auto;
    border-radius: 50%;
   
}

.list {
    list-style: none;
}

.team {
    background: var(--cloud, #F4F4FD);
}

.team-list {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    padding: 20px 150px 20px 150px;
   
    
}

.team-list-item {
    
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-radius: 15% 15% 15% 15%;
    padding-top: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3),0px 5px 10px 0px rgba(0, 0, 0, 0.3),0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
/* .team-list-item:nth-child(1) {
    background: red;
}
.team-list-item:nth-child(2) {
    background: blue;
}
.team-list-item:nth-child(3) {
    background: orange;
}
.team-list-item:nth-child(4) {
    background: yellow;
}
.team-list-item:nth-child(5) {
    background: violet;
}
.team-list-item:nth-child(6) {
    background: green;
}
.team-list-item:nth-child(7) {
    background: rgb(9, 129, 241);
} */
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.team-container {
    
    display: flex;
    justify-content: center;
    text-align: center;
   
    
}

.social-logo-bg {
    padding: 0;
    display: flex;
    gap: 10px;
 
}

.social-logo-circle {
    width: 16px;
    height: 16px;
}

.link-svg {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-svg:hover,
.link-svg:focus {
    background: rgba(0, 0, 0, 0.5);
}



.icon-client use {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-name {
    padding: 10px 0 0px 0;
}
.team-position {
    padding-bottom: 10px;
}

.team-section {
    text-align: center;
}


.header-contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}